body {
    background-color:#5C5961;
// Commenting out local font    font-family:Arial, Verdana, serif
    <link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet">
    font-family: 'Habibi', serif;
}

 .banner {
    font-size: 30px;
    color:#FFFFFF;
    text-align:center;
    background-color: #010A0D;
    border-width: 5px;
    border-style: solid;
    border-color: #010A0D;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom:0px;
    margin-left: 5px;
    }

.banner2 {
    font-size: 15px;
    font-style: italic;
    color:#FFFFFF;
    text-align:center;
    background-color: #010A0D;
    border-width: 5px;
    border-style: none;
    border-color: #010A0D;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom:0px;
    margin-left: 5px;
    }

.linkbanner {
    font-size: 20px;
    color:#FFFFFF;
    text-align:center;
    background-color: #010A0D;
    border-width: 5px;
    border-style: solid;
    border-color: #010A0D;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom:0px;
    margin-left: 5px;  
}

.subbanner {
    font-size: 20px;
    color:#FFFFFF;
    text-align:left;
    background-color: #11A1D1;
    border-width: 5px;
    border-style: none;
    border-color: black;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom:10px;
    margin-left: 5px;
    }

.featuretext {
    font-size: 30px;
    font-style: bold;
    color: #FFFFFF;
    text-align: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 45px;
}

.featurebox {    
  display: inline-block;
  background-color: #11A1D1;  
  width: 250px;
  height: 350px;
  margin: 3em;
  border-radius: 15%;
  float:left
}

.textbox {  
  display: inline-block;
  color:#FFFFFF;
  width: 600px; 
  height: 400px;    
  margin-left: 5px;
  padding: 10px 10px;  
  float:left;
}

.mycontainer {
   width: 1000px;
   height: 500px;        
}

.box1 {
  display: inline-block;    
  width: 250px;
  height: 100px;
  margin: 3em;
  border-radius: 15%;
  text-align:center;     
}

.box2 {
  display: inline-block; 
  width: 250px;
  height: 200px;
  margin: 3em;
  border-radius: 15%;
  text-align:center;
}

.titlenormal {
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 25px;    
}

.titlebold {
  color: #FFFFFF;
  margin-left: 10px;
  font-size: 25px;  
  font-style: oblique   
}

h1 {
    color:#FFFFFF;
    text-align:center;
    background-color: #010A0D;
    background-size: 80px
}

h2 {
    color:#FFFFFF;
    background-color: #11A1D1;
}

h3 {
    color:#FFFFFF;
}

h5 {
    color:#FFFFFF;
    background-color: #010A0D;
    text-align:center;
    background-size: 30px
}

p {
    color:#FFFFFF;
}

img {
    height:200px;
    width:200px;
}

a {
    color:#FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

li {
    color:#F0F059
}

form {
    color:#ffffff
}

.myhcontainer {
   width: 1000px;
   height: 350px;        
}

.infofeaturebox {    
  display: inline-block;  
  height: 250px;
  width: 260px;
  margin: 2.5em;
  float:left;
}

.videobox {
  display: inline-block;
  margin: 1.5em;
  float:right;    
}

.infotextbox {  
  display: inline-block;
  color:#FFFFFF;
  width: 600px; 
  height: 300px;    
  margin-left: 5px;
  padding: 10px 10px;  
  float:left;
}

.infoblurb {
  display: inline-block;
  color:#FFFFFF;
  width: 600px; 
  height: 300px;    
  margin-left: 5px;
  padding: 10px 10px;  
  float:left;    
  font-style: oblique;
  font-size: 30px;    
}

.iinfotextbox {  
  display: inline-block;
  color:#FFFFFF;
  width: 500px; 
  height: 20px;    
  margin-left: 25px;
  padding: 1px 1px;  
  float:left;
  font-size: 20px;
  font-style: oblique
}

.riinfotextbox {  
  display: inline-block;
  color:#FFFFFF;
  width: 300px; 
  height: 20px;    
  margin-right: 125px;
  padding: 1px 1px;  
  float:right;
  font-size: 20px;
  font-style: oblique
}

.logo {
  display: inline-block;    
  top: 0;
  left: 0;
  background-color: #010A0D;
  width: 50px;
  height: 50px;    
}

.navbar {
  list-style-type: none;
  background-color: #010A0D;
  text-align:center;  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.navbar li { 
display: inline-block;
padding: 25px; 
font-size: 15px;
}

.navbar a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 15px;
}

.navbar a:hover {
background-color: #11A1D1;
font-size: 15px;   
}

.footer {
    font-size: 15px;
    color:#FFFFFF;
    text-align:center;
    background-color: #010A0D;
    border-width: 5px;
    border-style: solid;
    border-color: #010A0D;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom:0px;
    margin-left: 5px;
    padding-top: 0px;
}

.logowrap {
  background-color: #010A0D;
  position: fixed;
  top:0px;
  width: 98%;
}

.logowrap img {
  height: 50px;
  width: 50px;    
  display:block;
  float: left;
  margin-left: 7px;
  margin-top: 7px;
}